{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>NIGHTMARE_Request story</title>
<!--

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="http://shopsupanimit.pythonanywhere.com/">HAVE A NIGHTMARE </a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>NIGHTMARE</em></h1>
              <p>แหล่งรวมเรื่องสยอง</p>

                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="static/img/scroll-icon.png" alt=""></a>
                </div>
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="static/highway-loop.mp4" type="video/mp4" />
        </video>
    </div>


    {% for a in Destinations %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <span class="w3-right w3-opacity" style="font-Size:35Px;" >ชื่อเรื่อง :{{ a.name }}</span>
            <hr class="w3-clear">
            <img src="{{ a.img }}" style="width:50%" class="w3-margin-bottom">
            <p style="font-Size:25Px;">ข้อมูลเกี่ยวกับเรื่อง:  {{a.desc}}</p>
            </div>
        {% endfor %}

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Email: Supanimit.sa.62@ubu.ac.th | Facebook: Supanimit Saengmuang</p>
            </div>
        </div>
    </footer>





    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="/indexuser"><font color="#EC1F1F"> Homepage</font></a>
                  </li>
                  <li>
                      <a href="/thaistoryuser"><font color="#EC1F1F">ThaiStory</font></a>
                  </li>
                  <li>
                      <a href="/Internationaluser"><font color="#EC1F1F">International</font></a>
                  </li>
                  <li>
                      <a href="/requeststory"><font color="#EC1F1F">Request story</font></a>
                  </li>
                  <li>
                      <h3> Welcome  {{user.username}} </h3> <a href="Login"><font color="#EC1F1F">Logout</font></a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.white('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>


</body>
</html>